@use "@/styles/utils" as *;

.section {
  position: relative;
}

.bg,
.mobileBg {
  @include BackgroundImage;
}

.bg {
  display: none;
  @media ($desktop) {
    display: block;
  }
}

.mobileBg {
  @media ($desktop) {
    display: none;
  }
}

.container {
  @include Container;
  padding-block: 8rem;
  display: flex;
  flex-direction: column;
}

.title {
  @include H1;
}

.sliderContainer {
  margin-block: 5rem;
}

.button {
  @include Button;
  margin-inline: auto;
}
