@use "@/styles/utils" as *;

.bg {
  @include BackgroundImage;
}

.container {
  @include Container;
  @include Hero;
}

.content {
  @include HeroWrapper;
}

.title {
  @include H1;
}

.button {
  @include Button;
  min-width: 20rem;
}

.buttonsGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-block: 5rem;

  @media ($desktop) {
    flex-direction: row;
  }
}

.buttonSecondary {
  @include Button;
  @include bg-hover(var(--color-secondary-1));
  min-width: 20rem;
  background-color: var(--color-secondary);

}

.scrollButton {
  @include ScrollButton;
}
