@use "@/styles/utils" as *;

.content {
  @include Container;
  padding-block: 3.5rem;
  @media ($desktop) {
    padding-inline: 2rem;
  }
}

.title {
  @include SectionTitle;
  font-weight: bold;
  @media ($desktop) {
    padding-inline: 1rem;
  }
}

.list {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.card {
  position: relative;
  display: flex;

  &:nth-child(even) {
    .cardContent {
      @media ($desktop) {
        flex-direction: row-reverse;
      }
      .cardGradient {
        @media ($desktop) {
          left: 100%;
          translate: -60% -25%;
        }
      }
    }
  }

  &Content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    @media ($desktop) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 4rem;
    }
  }

  &Info {
    position: relative;
    flex: 1 0 50%;

    @media ($desktop) {
      max-width: 55%;
    }
  }

  &Image {
    position: relative;
    @media ($desktop) {
      object-fit: cover;
    }
  }

  &Gradient {
    @include GradientEllipse;
    position: absolute;

    z-index: 0;
    top: 0;
    left: 50%;
    translate: -50% -40%;
    scale: 0.5;

    @media ($desktop) {
      scale: 0.75;
      top: 0;
      left: 0;
      translate: -40% -25%;
    }
  }

  &Title {
    font-family: var(--font-accent);
    font-size: 1.5rem;
    text-transform: uppercase;

    @media ($desktop) {
      font-size: 2rem;
      padding-inline: 1rem;
    }
  }

  &Text {
    color: var(--color-neutral);
    white-space: pre-line;
    margin-top: 1rem;
    font-size: 1.125rem;
  }
}

.line {
  position: absolute;
  max-width: none;
  top: 2rem;
  left: -2rem;
  z-index: -1;
  display: none;
  height: 95%;

  @media ($hd) {
    display: flex;
  }
}
