@use "@/styles/utils" as *;

.section {
  position: relative;
}

.desktopBg {
  @include BackgroundImage;
  object-position: top;
  display: none;

  @media ($desktop) {
    display: block;
  }
}
.mobileBg {
  @include BackgroundImage;
  object-position: top;
  @media ($desktop) {
    display: none;
  }
}

.container {
  @include Container;
  @include Hero;
}

.content {
  @include HeroWrapper;
  width: 100%
}

.h1 {
  @include H1;
  @media ($desktop) {
    font-size: 6rem;
  }
}

.subtitle {
  @include HeroSubtitle;
  margin-top: 2rem;
  font-size: 1.5rem;

  @media ($desktop) {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
}

.listContainer {
  margin-top: 1rem;

  @media (min-width: 970px) {
    position: absolute;
    bottom: 25%;
    right: 2rem;
    margin-bottom: 0;
  }
}

.list {
  @include List;

  @media ($desktop) {
    font-size: 1.25rem;
  }
}

.line {
  color: var(--color-accent);
  position: absolute;
  top: -2rem;
  left: -3rem;
  pointer-events: none;
  display: none;

  @media (min-width: 970px) {
    display: flex;
  }
}

.buttonWrapper {
  margin-top: 4rem;
  align-self: center;

  @media (min-width: 970px) {
    align-self: flex-start;
  }
}

.button {
  @include Button;
}

.scrollButton {
  @include ScrollButton;
}
