@use "@/styles/utils" as *;

.content {
  @include Container;
  border-bottom: 1px solid #fff;
  p {
    line-height: 2;
    @media ($desktop) {
      line-height: 1.5;
      font-size: 1.25rem;
    }
  }

  h3 {
    color: var(--color-accent);
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 2rem;

    @media ($desktop) {
      font-size: 3rem;
    }
  }
}

.gradient {
  @include GradientEllipse;

  position: absolute;
  width: 20rem;
  height: 20rem;
  display: none;

  @media ($hd) {
    display: block;
    scale: 1;
    left: 0;
    top: 50%;
    translate: -40% -50%;
  }
}

.block {
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.textBlock {
  border: 2px solid #fff;
  padding: 1rem;
  border-radius: 0.5rem;

  @media ($desktop) {
    font-size: 1.25rem;
  }
}

.image {
  position: relative;
  margin-top: 5rem;
  flex-shrink: 0;

  @media ($hd) {
    max-width: 50%;
    margin-top: 0;
  }
}

.line {
  border-color: var(--color-accent);
  width: 90%;
  margin: 2.5rem auto;
}
