@use "@/styles/utils" as *;

.bg {
  @include BackgroundImage;
}

.content {
  @include Container;
  padding-top: 24rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media ($desktop) {
    padding-top: 12rem;
  }
}

.title {
  @include H1;
  text-transform: uppercase;
}

.info {
  margin-top: 2rem;
  max-width: 20rem;
  @media ($desktop) {
    max-width: 30rem;
    font-size: 1.5rem;
  }
}

.button {
  @include Button;
  margin-top: 6rem;
}

.buttonSecondary {
  @include Button;
  background-color: var(--color-secondary);

  @include bg-hover(var(--color-secondary-1));
}
