@use "@/styles/utils" as *;

.bg {
  @include BackgroundImage;
}

.container {
  @include Container;
@include Hero;
}

.content {
  @include HeroWrapper;
}

.title {
  @include H1;
}

.info {
  margin-top: 2rem;
  max-width: 25rem;
  font-size: 1.25rem;

  @media ($desktop) {
    max-width: 30rem;
    font-size: 1.5rem;
  }
}

.button {
  @include Button;
  margin-block: 5rem;
}

.buttonSecondary {
  @include Button;
  background-color: var(--color-secondary);

  @include bg-hover(var(--color-secondary-1));
}

.scrollButton{
  @include ScrollButton;
}
