@use "@/styles/utils" as *;

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slide {
  height: auto;
  position: relative;
}

.controls{
  display: flex;
  align-items: center;
  max-width: 40rem;
  margin-inline: auto;

  margin-top: 3rem;
  [data-selector$=slider-prev],[data-selector$=slider-next] {
    display: none;

    @media ($desktop) {
      display: grid;
    }
  }
}
