@use "@/styles/utils" as *;

.content {
  @include Container;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.title {
  color: var(--color-accent);
  font-family: var(--font-secondary);
  font-size: 2rem;

  @media ($desktop) {
    font-size: 3rem;
  }
}

.slider {
  margin-top: 1rem;
}
