@use "@/styles/utils" as *;

.content {
  @include Container;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.classes {
  display: flex;
  flex-direction: column;
  gap: 10rem;

  h2,
  p {
    white-space: pre-wrap;
  }
}

.card {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  @media ($desktop) {
    flex-direction: row;
  }

  &Wrapper {
    align-self: center;

    @media ($desktop) {
      padding-bottom: 4rem;
      border-bottom: 1px solid var(--color-accent);
    }
  }

  &Title {
    color: var(--color-accent);
    font-family: var(--font-secondary);
    font-size: 2rem;
    line-height: 1.2;

    @media ($desktop) {
      font-size: 3rem;
    }
  }

  &Info {
    margin-top: 1rem;
    @media ($desktop) {
      font-size: 1.25rem;
    }
  }

  &Image {
    object-fit: cover;
    flex-shrink: 0;
    margin-inline: auto;

    @media ($desktop) {
      max-width: 50%;
      font-size: 3rem;
    }
  }
}

.format {
  margin-top: 5rem;

  &List {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
  }

  &Title {
    @extend .cardTitle;
  }

  &Card {
    padding: 2rem;
    border: 1px solid var(--color-accent);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media ($desktop) {
      font-size: 1.25rem;
    }
  }

  &Name {
    font-weight: 500;
    color: #fff;
    font-size: 1.5rem;

    @media ($desktop) {
      font-size: 2rem;
    }
  }

  &Info {
    color: var(--color-neutral);
    margin-bottom: 3rem;
  }

  &Length {
    margin-top: auto;
    color: var(--color-neutral);
  }

  &Price {
    margin-top: 1rem;
    color: var(--color-neutral);

    span {
      white-space: nowrap;
      color: var(--color-accent);
      font-weight: bold;
    }
  }
}

.gallery {
  margin-top: 5rem;
}
