@use "@/styles/utils" as *;

.bg {
  @include BackgroundImage;
  object-position: 35% 0;
}

.container {
  @include Container;
  @include Hero;
}

.content {
  @include HeroWrapper;
}

.title {
  @include H1;
}

.button {
  @include Button;
  margin-block: 5rem;
}

.price {
  @include HeroSubtitle;
  font-size: 2.5rem;
  margin-top: 2rem;
  @media ($desktop) {
    margin-top: 4rem;
    font-size: 3rem;
  }
}

.scrollButton {
  margin-top: 5rem;
  margin-inline: auto;
  justify-content: center;
  transition: color 300ms ease;
  @include hover {
    color: var(--color-accent);
  }
}
